# Normalize text files and reduce cross-platform line-ending noise.
* text=auto

*.R     text eol=lf
*.Rmd   text eol=lf
*.do    text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.md    text eol=lf
*.ps1   text eol=crlf

